---
import { Image } from 'astro:assets';

import Layout from '../layouts/Layout.astro';

type Link = {
  icon: string;
  iconSize?: string;
  link: string;
  name: string,
  color?: string,
  username: string;
  background: string,
}

const links: Link[] = [
  {
    icon: 'icon-[ph--github-logo]',
    link: 'https://github.com/luisfosg',
    name: 'GitHub',
    background: 'bg-black/50',
    username: 'luisfosg',
  },
  {
    icon: 'icon-[bi--linkedin]',
    iconSize: 'text-lg',
    link: 'https://www.linkedin.com/in/luisfosg/',
    name: 'LinkedIn',
    background: 'bg-blue-500/20',
    username: 'luisfosg',
  },
  {
    icon: 'icon-[akar-icons--x-fill]',
    iconSize: 'text-lg',
    link: 'https://twitter.com/luisfosg_',
    name: 'Twitter',
    background: 'bg-black/50',
    username: 'luisfosg_',
  }
]
---

<Layout color='bg-gradient-to-r from-gray-800 via-gray-900 to-gray-900' title="Luis Osorio | luisfosg">
  <main class="flex h-full flex-col items-center justify-center">
    <Image class="ml-2 border-8 border-zinc-400 bg-white/20 rounded-full" width="180" height="180" src="/images/avatar.png" alt="luisfosg" />
    <h1 class="mt-5 text-xl text-white/70 italic font-thin uppercase">Luis Osorio</h1>

    <section class="w-3/4 grid grid-cols-3 gap-3 mt-5">
      {
        links.map(link => {
          return (
            <>
              <a href={link.link} data-tooltip-placement="bottom" data-tooltip-target={`tooltip-${link.name}`} target="_blank"
                class={`${link.background} ${link.color || 'text-white'} hover:bg-white/20 hover:text-white cursor-pointer w-full h-12 flex flex-row items-center justify-center rounded-lg`}>
                <span class={`${link.iconSize || 'text-2xl'} ${link.icon}`} role="img" aria-hidden="true" />
                <span class="ml-1 text-md font-normal">{link.name}</span>
              </a>

              <div id={`tooltip-${link.name}`} role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-slate-600 transition-opacity duration-300 bg-white/90 rounded-lg shadow-sm opacity-0 tooltip">
                {link.username}
                <div class="tooltip-arrow" data-popper-arrow></div>
              </div>
            </>
          )
        })
      }
    </section>
  </main>
</Layout>

<style>
</style>
