---
import { Image } from 'astro:assets';

import Layout from '@layouts/Layout.astro';
import { links } from '@lib/link-tree'
---

<Layout color='bg-gradient-to-r from-gray-900/90 via-gray-900 to-gray-800' title="Luis Osorio | luisfosg">
  <main class="flex h-full flex-col items-center justify-center">
    <Image class="ml-2 border-8 border-zinc-400 bg-white/20 rounded-full" width="180" height="180" src="/images/avatar.png" alt="luisfosg" />
    <h1 class="mt-5 text-xl text-transparent uppercase bg-clip-text font-bold bg-[conic-gradient(at_bottom,_var(--tw-gradient-stops))] from-indigo-200 via-slate-600 to-indigo-200">Luis Osorio</h1>

    <section class="w-3/4 mx-auto grid lg:grid-cols-3 gap-3 mt-5">
      {links.map(link => (
        <div class="relative">
          <a
            href={link.link}
            data-tooltip-placement="bottom"
            data-tooltip-target={`tooltip-${link.name}`}
            target={link.samePage ? '_self' : '_blank'}
            class={`${
              link.background
            } ${link.color || 'text-white'} hover:bg-white/20 hover:text-white cursor-pointer w-full h-12 flex flex-row items-center justify-center rounded-lg`}
          >
            <span
              class={`${link.iconSize || 'text-2xl'} ${link.icon}`}
              role="img"
              aria-hidden="true"
            />
            <span class="ml-1 text-md font-normal">{link.name}</span>
          </a>

          <div
            id={`tooltip-${link.name}`}
            role="tooltip"
            class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-slate-600 transition-opacity duration-300 bg-white/90 rounded-lg shadow-sm opacity-0 tooltip"
          >
            {link.username}
            <div class="tooltip-arrow" data-popper-arrow />
          </div>
        </div>
      ))}
    </section>

  </main>
</Layout>

<style>
</style>
