---
import { Icon } from 'astro-icon'
import { getLangFromUrl } from '../i18n/utils';

import DarkMode from '@components/Darkmode'
import Link from '@common/ui/link'

const ROUTES = [
  {
    route: '',
    name: 'Inicio',
    icon: 'ic:round-home'
  },
  {
    route: '/blog',
    name: 'Blog',
    icon: 'ri:book-fill'
  },
  {
    route: '/contact',
    name: 'Contacto',
    icon: 'ph:phone-fill'
  }
]

const lang = getLangFromUrl(Astro.url);
---

<nav class="fixed flex top-0 items-center justify-between w-full h-14 backdrop-blur bg-slate-500/40 dark:bg-slate-700/80 px-28">
  <a href={`/${lang}`}>luisfosg</a>

  <ul class="flex">
    {
      ROUTES.map(route => (
        <li>
          <Link className='hover:bg-slate-500/20' to={`/${lang}${route.route}`}>
            {route.icon && <Icon class="w-4 h-4" name={route.icon}></Icon>}
            {route.name && <span class="ml-1">{route.name}</span>}
          </Link>
        </li>
      ))
    }
  </ul>

  <div class="w-10">
    <DarkMode client:visible />
  </div>
</nav>
